:root {
    --cadmium: #097969;
    --emerald: #50C878;
    --brightblue: #0096FF;
    --sapphire: #0F52BA;
    --black: #343434;
    --white: #FFFFF0;
}

body {

}

h1 {

}

.row {

}

.col {

}

.question {
    
}

.choice-a,
.choice-b,
.choice-c,
.choice-d {

}